body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
}

.particle-container {
    position: relative;
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 15px;
    border-radius: 25px;
    overflow: hidden;
}

.particle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    position: absolute;
    transition: opacity 0.5s ease;
    animation: move 5s infinite alternate;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(10px - 5%), calc(10px - 5%));
    }
}
