body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
}

.particle-container {
    position: relative;
    width: 950px;
    height: 840px;
    display: grid;
    grid-template-columns: repeat(95, 1fr);
    grid-template-rows: repeat(84, 1fr);
    gap: 10px;
    border-radius: 45px;
    overflow: hidden;
    background-color: transparent;
}

.particle {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    position: absolute;
    transition: transform 0.3s ease;

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(10px - 5%), calc(10px - 5%));
    }
}
